# Beginning our data-driven journey in Maji Ndogo

# Establishing a Connection to the MySQL Database

In [1]:
import json
import pandas as pd
import mysql.connector
from tabulate import tabulate

# Load database credentials from config.json
def load_config():
    with open("config.json", "r") as file:
        return json.load(file)

# Load the configuration
config = load_config()

# Function to create a connection to the MySQL database
def create_connection():
    connection = mysql.connector.connect(
        host=config["DB_HOST"],      
        user=config["DB_USER"],      
        password=config["DB_PASSWORD"],  
        database=config["DB_NAME"]      
    )
    return connection

# Create a connection object
conn = create_connection()

# Check the connection status
if conn.is_connected():
    print("Successfully connected to the database")
else:
    print("Failed to connect to the database")

Successfully connected to the database

# Get to know the Data

## View All Tables Present

In [2]:
# Function to execute a query and return results as a DataFrame
def execute_query(query):
    conn = create_connection()
    cursor = conn.cursor()
    cursor.execute(query)
    
    # Fetch all results
    results = cursor.fetchall()
    
    # Get column names from cursor description
    column_names = [desc[0] for desc in cursor.description]
    
    # Close cursor and connection
    cursor.close()
    conn.close()
    
    # Create a DataFrame from the fetched results
    df = pd.DataFrame(results, columns=column_names)
    return df

# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# Query to show all tables in the current database
query = "SHOW TABLES;"
tables_df = execute_query(query)

# Rename the column to 'Table Name'
tables_df.columns = ['Table Name']

# Apply custom table styles and display the styled DataFrame
styled_tables_df = (
    tables_df.style
    .applymap(highlight_cells)  # Apply custom function to highlight cells
    .set_table_styles(color_header())  # Apply custom header style
)

# Display the DataFrame with styles
print("Tables in the current database:")
display(styled_tables_df)

Tables in the current database:

## Displaying Sample Data from All Tables in the Database

In [3]:
# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# Get all tables in the database
tables_query = "SHOW TABLES;"
tables_df = execute_query(tables_query)

# Rename the column for better clarity
tables_df.columns = ['Table Name']

# Iterate through each table and display the first 10 rows as a styled DataFrame
for index, row in tables_df.iterrows():
    table_name = row['Table Name']  # Extract the table name from the DataFrame
    print(f"\nFirst 10 rows from table: {table_name}")
    
    # Query to fetch the first 10 rows from the current table
    query = f"SELECT * FROM {table_name} LIMIT 10;"
    
    # Execute the query to fetch the first 10 rows as a DataFrame
    table_df = execute_query(query)
    
    # Apply custom table styles and display the styled DataFrame
    styled_table = (
        table_df.style
        .applymap(highlight_cells)  # Apply custom function to highlight cells
        .set_table_styles(color_header())  # Apply custom header style
    )
    
    # Display the styled table
    display(styled_table)

First 10 rows from table: data_dictionary

First 10 rows from table: employee

First 10 rows from table: global_water_access

First 10 rows from table: location

First 10 rows from table: visits

First 10 rows from table: water_quality

First 10 rows from table: water_source

First 10 rows from table: well_pollution

## Dive into Water Sources: Finding Unique Water Source Types

In [4]:
# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# Query to find all unique water source types
query = "SELECT DISTINCT type_of_water_source FROM water_source;"

# Execute the query and fetch results as a DataFrame
unique_sources_df = execute_query(query)

# Apply custom table styles and display the styled DataFrame
styled_unique_sources = (
    unique_sources_df.style
    .applymap(highlight_cells)  # Apply custom function to highlight cells
    .set_table_styles(color_header())  # Apply custom header style
)

# Display the unique water source types DataFrame with styles
print("Unique water source types:")
display(styled_unique_sources)

Unique water source types:

## Unpack Visits to Water Sources: Locations Wheere queue time is over 8 hours

In [5]:
# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# SQL query to retrieve records from the visits table where time_in_queue > 500 minutes
query = """
SELECT 
    record_id, 
    location_id, 
    source_id, 
    time_of_record, 
    visit_count, 
    time_in_queue, 
    assigned_employee_id
FROM 
    visits
WHERE 
    time_in_queue > 500 LIMIT 10;
"""

# Execute the query and fetch results as a DataFrame
df_long_queue_times = execute_query(query)

# Display the DataFrame with custom styles
styled_df = df_long_queue_times.style.applymap(highlight_cells).set_table_styles(color_header())

# Show the styled DataFrame
print("Records with time_in_queue > 500 minutes (over 8 hours):")
styled_df

Records with time_in_queue > 500 minutes (over 8 hours):

## Assess the quality of water sources:

In [6]:
# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# SQL query to find records with subjective_quality_score of 10 for home taps 
# and where the source was visited more than once
query = """
SELECT v.record_id, v.location_id, v.source_id, v.time_of_record, 
       wq.subjective_quality_score, wq.visit_count, v.time_in_queue, 
       v.assigned_employee_id
FROM visits v
JOIN water_quality wq ON v.record_id = wq.record_id
WHERE wq.subjective_quality_score = 10
  AND wq.visit_count > 1 
LIMIT 10;  -- Looking for records with visit count greater than 1
"""

# Execute the query and fetch results as a DataFrame
try:
    high_quality_home_taps = execute_query(query)

    # Display the DataFrame with custom styles
    styled_df = high_quality_home_taps.style.applymap(highlight_cells).set_table_styles(color_header())

    # Show the styled DataFrame
    print("Records where subjective_quality_score is 10 and visited more than once:")
    display(styled_df)  # Use display() to render the styled DataFrame properly in a Jupyter Notebook

except Exception as e:
    print(f"An error occurred: {e}")

Records where subjective_quality_score is 10 and visited more than once:

## Investigate pollution issues:

In [7]:
# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# Define the query to retrieve pollution data
query = """
SELECT source_id, date, description, pollutant_ppm, biological, results
FROM well_pollution
LIMIT 10;
"""

# Execute the query and fetch results
try:
    pollution_data = execute_query(query)

    # Display the DataFrame with custom styles
    styled_df = pollution_data.style.applymap(highlight_cells).set_table_styles(color_header())

    # Show the styled DataFrame
    print("First few rows of pollution data:")
    display(styled_df)  # Use display() to render the styled DataFrame properly in a Jupyter Notebook

except Exception as e:
    print(f"An error occurred: {e}")

First few rows of pollution data:

### a query that checks if the results is Clean but the biological column is > 0.01.

In [8]:
# Function to color headers with a custom style
def color_header():
    return [{'selector': 'thead th', 'props': [('background-color', 'lightblue'),
                                               ('color', 'black'),
                                               ('font-size', '12pt'),
                                               ('text-align', 'center')]}]

# Function to apply cell formatting for individual DataFrame cells
def highlight_cells(val):
    return 'background-color: #f4f4f4'  # Light grey for cell background

# Query to find records with Clean descriptions and biological > 0.01
query = """
SELECT *
FROM well_pollution
WHERE description LIKE 'Clean%' AND biological > 0.01 LIMIT 10;
"""

# Execute the query and get the results
results_df = execute_query(query)

# Apply styling to the DataFrame for display (if using Jupyter Notebook)
styled_df = results_df.style.applymap(highlight_cells).set_table_styles(color_header())
styled_df  # Display the styled DataFrame